.Wrapper {
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.SelectboxContainer {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.CreateBoardTitleBox {
    width: 85%;
}

.InputBoardTitle {
    width: 99%;
    border: 2px solid rgba(100, 100, 100, 0.2);
    outline: none;
    background: none;
    
    color: rgba(0, 0, 0, 1);
    font-family: NotoSans Regular;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.CreateBoardContentBox {
    width: 85%;
    gap: 16px;
    min-height: 400px;
    padding: 10px 0px 10px 0px;
}

.InputBoardQuill {
    flex: 1;
    min-height: 400px;
    
    border: none;
    outline: none;
    background: none;
    resize: none;
    
    color: rgba(0, 0, 0, 0.7);
    font-family: NotoSans Regular;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.controls {
    display: flex;
    border: 1px solid #ccc;
    border-top: 0;
    padding: 10px;
}
  
.controls-right {
    margin-left: auto;
}
  
.state {
    margin: 10px 0;
    font-family: monospace;
}
  
.state-title {
    color: #999;
    text-transform: uppercase;
}

.UploadFile {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0px 10px 0px;
}