.CreateBoardTitleBox {
    width: 100%;
}

.InputBoardTitle {
    width: 100%;

    border: none;
    outline: none;
    background: none;

    color: rgba(0, 0, 0, 1);

    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
}

.CreateBoardContentBox {
    width: 100%;
    display: flex;
    gap: 16px;
}

.InputBoardTextarea {
    flex: 1;
    
    border: none;
    outline: none;
    background: none;
    resize: none;

    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}