.CategoryLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ReadBoardTitle {
    color: rgba(0, 0, 0, 1);
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.ReadBoardDetails {
    color: rgba(0, 0, 0, 1);
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}

.ReadBoardContent {
    min-height: 400px;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.ReadBoardThumbnail img {
    max-width: 100%;
    height: auto;
}

.editingButtonsContainer {
    display: flex;
    justify-content: flex-end;
}
