.Wrapper {
    width: 95%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    margin: 10px 0px 10px 0px;
}

.CategoryLinkContainer {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ReadBoardTitle {
    width: 85%;
    border: 2px solid rgba(100, 100, 100, 0.2);
    outline: none;
    background: none;
    
    color: rgba(0, 0, 0, 1);
    font-family: NotoSans Regular;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.ReadBoardContent {
    width: 85%;
    gap: 16px;
    min-height: 400px;
    padding: 10px 0px 10px 0px;
    flex: 1;
    min-height: 400px;
    
    border: none;
    outline: none;
    background: none;
    resize: none;
    
    color: rgba(0, 0, 0, 0.7);
    font-family: NotoSans Regular;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.ReadFile {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0px 10px 0px;
}

.editingButtonsBox {
    justify-content: flex-end;
}
